
  
  .rightbox {
    /*width: 300px;
    margin: 50px auto;
    width:fit-content;*/
    border-radius: 15px;
    background: var(--ion-color-primary);
    color: var(--ion-color-primary-contrast);
    padding: 20px;
    text-align: right;
    font-weight: 900;
    position: relative;
    right:0;
  }
  
  .leftbox {
    /*width: 300px;
    margin: 50px auto;
    width:fit-content;*/
    border-radius: 15px;
    background: var(--ion-color-secondary);
    color: var(--ion-color-secondary-contrast);
    padding: 20px;
    text-align: left;
    font-weight: 900;
    position: relative;
    right:0;
  }

  /* speech bubble 13 */
  
  .rightTriangle:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 15px solid var(--ion-color-primary);
    border-right: 15px solid transparent;
    border-top: 15px solid var(--ion-color-primary);
    border-bottom: 15px solid transparent;
    right: -16px;
    top: 0px;
  }
  
  
  /* speech bubble 14 */
  
  .leftTriangle:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid var(--ion-color-secondary);
    border-top: 15px solid var(--ion-color-secondary);
    border-bottom: 15px solid transparent;
    left: -16px;
    top: 0px;
  }
  
  
  /*help text*/
  .helpText{
    font-size: small;
  }
 
  
  